In [20]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import csv

In [2]:
df=pd.read_csv('/content/drive/MyDrive/train (1).csv');
df2= pd.read_csv('/content/drive/MyDrive/test (1).csv');
df2=df2.drop(["Name","Ticket","Cabin"],axis=1);
df=df.drop(["Name","Ticket","Cabin"],axis=1);

In [3]:
Mapping={}
unique_values=df['Embarked'].unique()
for i,value in enumerate(unique_values):
  Mapping[value]=i
df['Embarked']=df['Embarked'].map(Mapping)

In [4]:
Mapping={}
unique_values=df['Sex'].unique()
for i,value in enumerate(unique_values):
  Mapping[value]=i
df['Sex']=df['Sex'].map(Mapping)

In [5]:
mean_age=df['Age'].mean()
df['Age'].fillna(mean_age,inplace=True)

In [13]:
attributes=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']
X=df[attributes].values
y=df['Survived'].values
f2,z=f_regression(X,y,center=True,force_finite=True)
results=pd.DataFrame({'Attributes':attributes,'f2-value':f2,'P-value':z})

In [15]:
best_value=SelectKBest(score_func=f_regression,k=5)
x_new=best_value.fit_transform(X,y)
indices=best_value.get_support(indices=True)
S_attributes=[attributes[i] for i in indices]
Features=pd.DataFrame(x_new,columns=S_attributes)
Features

     Pclass  Sex  Parch     Fare  Embarked
0       3.0  0.0    0.0   7.2500       0.0
1       1.0  1.0    0.0  71.2833       1.0
2       3.0  1.0    0.0   7.9250       0.0
3       1.0  1.0    0.0  53.1000       0.0
4       3.0  0.0    0.0   8.0500       0.0
..      ...  ...    ...      ...       ...
886     2.0  0.0    0.0  13.0000       0.0
887     1.0  1.0    0.0  30.0000       0.0
888     3.0  1.0    2.0  23.4500       0.0
889     1.0  0.0    0.0  30.0000       1.0
890     3.0  0.0    0.0   7.7500       2.0

[891 rows x 5 columns]

In [23]:
new_attributes=['Pclass','Sex','Parch','Fare','Embarked']
Selected_attributes=df[new_attributes].values
X_train,X_test,y_train,y_test=train_test_split(Selected_attributes,y,test_size=0.30,random_state=42)
logic=LogisticRegression(random_state=0)
logic.fit(X_train,y_train)
pred=logic.predict(X_test)
pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0])

In [24]:
acc=accuracy_score(y_test,pred)
acc

0.7873134328358209

In [26]:
Mapping={}
unique_values=df2['Embarked'].unique()
for i,value in enumerate(unique_values):
  Mapping[value]=i
df2['Embarked']=df2['Embarked'].map(Mapping)

In [36]:
Mapping={}
unique_values=df2['Sex'].unique()
for i,value in enumerate(unique_values):
  Mapping[value]=i
df2['Sex']=df2['Sex'].map(Mapping)
mean_age=df2['Age'].mean()
df2['Age'].fillna(mean_age,inplace=True)
mean_fare=df['Fare'].mean()
df2['Fare'].fillna(mean_fare,inplace=True)

In [38]:
Selected_df2=['Pclass','Sex','Parch','Fare','Embarked']
X_df2_test=df2[Selected_df2].values
y_pred=logic.predict(X_df2_test)

In [40]:
PassengerId=df2['PassengerId']
Survived=y_pred
file_name = "Sample_Submission.csv"
with open(file_name,'w',newline='')as csvfile:
  csv_writer=csv.writer(csvfile)
  csv_writer.writerow(['PassengerId','Survived'])
  for PassengerId, Survived in zip(PassengerId, Survived):
        csv_writer.writerow([PassengerId, Survived])

print(f"Predicted and original values have been saved to '{file_name}' successfully!")

Predicted and original values have been saved to 'Sample_Submission.csv' successfully!